.nuevo{
  padding-top: 4em;
}

form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  width: 100%;
  color: #111;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

label {
  font-size: 0.8em;
  margin-bottom: 0.25em;
  color: #222;
  font-weight: lighter;
}

input {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
}

input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #999;
}

input.error {
  border: 1.1px solid rgb(0, 217, 255);
}

.errorMessage {
  color: rgb(255, 17, 0);
  font-size: 0.75em;
  display: relative;
}

.firstName {
  margin-right: 1%;
}

.lastName {
  margin-left: 1%;
}

.firstName,
.lastName,
.email,
.password {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.firstName,
.lastName {
  width: 49%;
}


/*<--------AGREGADO------>*/

/*QUIERO QUE MUESTRE EN VERDE CUANDO YA ESTAN BIEN PUESTO*/
input.ok {
  border: 1px solid rgb(0, 255, 0);
}
/*QUIERO QUE MUESTRE EN VERDE CUANDO YA ESTAN BIEN PUESTO*/
.okMessage {
  color: rgb(0, 255, 0);
  font-size: 0.75em;
  display: relative;
}


/*<--------AGREGADO------>*/
.email,
.password {
  width: 100%;
}
